﻿@model Bird
@{
    ViewBag.Titles = new String[] { "Edit Bird" };
    Layout = "_AdminLayout";
    <form action="EditBird" method="post">
        <input type="hidden" asp-for="BirdId"/>
        <div class="form-group">
            <label asp-for="Name"></label>
            <div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input asp-for="Name" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Category"></label>
            <div>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <input asp-for="Category" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <input asp-for="Price" class="form-control" />
        </div>
        @*@for(int i = 0 ; i < Model.Abilities.Length; i++) {
            <label>@Model.Abilities[i].Name</label><input name="Ability:@Model.Abilities[i].AbilityId" type="checkbox" />
        }*@
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-default" >Cancel</a>
        </div>
    </form>
}