﻿@model AdminViewModel
@{
    ViewBag.Titles = new String[] { "All Birds", "All Abilities" };
    Layout = "_AdminLayout";
}
<table id="Table0" class="table table-striped table-bordered table-condensed">
    <tr>
        <td class="text-right">ID</td>
        <td>Name</td>
        <td class="text-right">Price</td>
        <td class="text-center">Actions</td>
    </tr>
    @foreach(Bird b in Model.Birds) {
        <tr>
            <td class="text-right">@b.BirdId</td>
            <td>@b.Name</td>
            <td class="text-right">@b.Price</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="EditBird" class="btn btn-sm btn-warning" asp-route-BirdId="@b.BirdId">Edit</a>
                    <input type="hidden" name="BirdId" value="@b.BirdId"/>
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    @*asp-for is specifically for filling in both the 'name' and 'value' attributes at once with the same value.*@
                </form>
            </td>
        </tr>
    }
</table>
<table id="Table1" class="hidden">
    <tr>
        <td class="text-right">ID</td>
        <td>Name</td>
        <td class="text-center">Actions</td>
    </tr>
    @foreach(Ability a in Model.Abilities) {
    <tr>
        <td class="text-right">@a.AbilityId</td>
        <td>@a.Name</td>
        <td class="text-center">
            <form asp-action="Delete" method="post">
                <a asp-action="EditAbility" class="btn btn-sm btn-warning" asp-route-AbilityId="@a.AbilityId">Edit</a>
                <input type="hidden" name="BirdId" value="@a.AbilityId" />
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                @*asp-for is specifically for filling in both the 'name' and 'value' attributes at once with the same value.*@
            </form>
        </td>
    </tr>
    }
</table>
<div class="text-center">
    <div  style="display: inline-block;">
        <a asp-action="EditBird" class="btn btn-primary">Add a Bird</a>
    </div>
    <div style="display: inline-block;">
        <a asp-action="EditAbility" class="btn btn-primary">Add an Ability</a>
    </div>
</div>