﻿
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
    
    <div class="text-center">
        
        @ViewBag.Greeting
        <p>
            We're going to have an exciting party!
        </p>
        <a asp-action="RsvpForm">RSVP now</a>
        <!--This is more flexalbe than putting in a normal anchor tag.-->
    </div>


</body>
</html>

