﻿@model GuestResponse
@{
    ViewData["Title"] = "Thanks";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <p>
        <h1>Thanks, @Model.Name</h1>
        @if (Model.WillAttend == true)
        {
            @:It's great that you're coming! :-)
            //@{
                //this is totally c# land...
                //You don't want to do this here. Not much logic. Do as much as possible logic in the models
                //and in the controllers.
            //}
            <?php
                Why isn't this printing?
                echo("It's great that you're coming!2");                
            ?>

        } else {
            @:Sorry to year that you can't make it!
        }
    </p>
    <p>Click <a asp-action="ListResponses">here</a>to see who is coming.</p>
</body>
</html>
<h2>Thanks</h2>

