﻿@model IEnumerable<Order>
@{
    ViewBag.Title = "Orders";
    Layout = "_AdminLayout";
}
@if(Model.Count() > 0){
<table class="table table-bordered table-striped table-striped">
    <tr>
        <td>Name</td>
        <td>Zip</td>
        <td colspan="2">Details</td>
        <td></td>
        @foreach(Order o in Model) {
            <tr>
                <td>@o.Name</td>
                <td>@o.Zip</td>
                <td>Bird</td>
                <td>Quantity</td>
            </tr>

            <form asp-action="MarkShipped" method="post">
                @*<input type="hidden" name="orderId" value="@o.OrderId"/>*@
                <input type="hidden" name="orderId" value="@o.OrderId"/>
                <button type="submit" class="btn btn-sm btn-danger">Ship</button>
            </form>


            @foreach(CartLine line in o.Lines) {
                <tr>
                    <td><colspan="2"</td>
                    <td>@line.Bird.Name</td>
                    <td>@line.Quantity</td>
                    <td></td>
                </tr>
            }
        }

        </tr>
    </table>
}else {
    <div>No unshipped orders</div>
}