﻿<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <title>Error</title>
</head>
<body>
    <h2 class="text-danger">Error</h2>
    <h3 class="text-danger">Please contact your admin."</h3>
</body>
</html>
