﻿/*
body {
    background-image: url("../Images/Apocalypse.png");
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}
    */
body {
    border: 0px;
    margin: 0px;
    padding: 0px;
}
#cityHighlighter {
    position: fixed;
    top: 5px;
    left: 5px;
}
#map {
    position: absolute;
    z-index: -10;
    top:0px;
    left:0px;
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.cityArea {
    opacity: 0.5;
}
#cityPanel {
    position: fixed;
    right: 5px;
    top: 30px;
}
#worldEconomyPanel {
    position: fixed;
    right: 5px;
    bottom: 5px;
    width: 180px;
    background-color: white;
    border : solid medium black;
    font-size : 10pt;
}
#worldEconomyPanel .section{
    border: solid thin black;
}
#worldEconomyPanel .section p{
    background-color: white;
    padding: 1px; margin: 1px;
    display: inline-block;
    border: solid thin black;
}