﻿@model AbilitiesComponentModel
<input id="AbilityArrayPasser" type="hidden" name="birdAbilityIds"/>
<script type="text/javascript">
    var arrayOfAbilityIds = [];
    var checkBox = function (x) {
        //alert(x);
        var isItInThereAlready = false;
        var tempArray = [];
        for (var i = 0; i < arrayOfAbilityIds.length; i++) {
            if (arrayOfAbilityIds[i] == x) {
                isItInThereAlready = true;
            } else {
                tempArray.push(arrayOfAbilityIds[i]);
            }
        }
        if (!isItInThereAlready) {
            arrayOfAbilityIds.push(x);
        } else {
            arrayOfAbilityIds = tempArray;
        }
        //alert(arrayOfAbilityIds);
        document.getElementById("AbilityArrayPasser").setAttribute("value", arrayOfAbilityIds)
    }
</script>
@for(int i = 0; i < Model.AllAbilities.Count(); i++) {
    bool u = false;
    for(int j = 0; j < Model.SelectedAbilities.Count; j++) {
        if(Model.SelectedAbilities[j] == Model.AllAbilities[i].AbilityId) {
            u = true;
        }
    }
    <div style="padding-left:5%; display:inline-block;">
    <label>@Model.AllAbilities[i].Name</label>
    <input id="Ability:@Model.AllAbilities[i].AbilityId"
           type="checkbox" @if(u) { @(" checked ") }
           onclick="checkBox(@Model.AllAbilities[i].AbilityId);"
           style="padding-right:5%;" />
    </div>
    @if(u) {
        <script type="text/javascript">
            checkBox(@Model.AllAbilities[i].AbilityId);
        </script>
    }
}

