﻿@model CityViewModel
@{
    
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.City.Name Details Page</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/CityDetails.css" rel="stylesheet" />
</head>
<body>    
    <div id="CityDetailsPanel" class="">
        <h2>CityDetails</h2>
        <h4>City Name: @Model.City.Name</h4>
        <h4>Continent: @Model.City.ContinentName</h4>
        <h4>Population: @Model.City.Population</h4>
        <h4>GDP: @Model.City.GDP</h4>
    </div>
    <div id="Imports">
        <h2>Imports:</h2>
        @for(int i = (Model.ImportsPages.CurrentPage - 1) * Model.ImportsPages.ItemsPerPage;
            i < (Model.ImportsPages.CurrentPage - 1) * Model.ImportsPages.ItemsPerPage + Model.ImportsPages.ItemsPerPage;
            i++) {
                if(i < Model.ImportsPages.TotalItems) {
                    <h5 class="text-justify">@Model.City.ProductsImported2[i].ProductName</h5>
            }
        }
        <h4>Page @Model.ImportsPages.CurrentPage of @Model.ImportsPages.TotalPages</h4>
        @if(Model.ImportsPages.CurrentPage < Model.ImportsPages.TotalPages) {
        <form asp-action="ViewCity" asp-controller="City" method="post">
            <input type="hidden" name="CityId" asp-for="@Model.City.CityId" value="@Model.City.CityId" />
            <input type="hidden" name="importsPageNumber" value="@(Model.ImportsPages.CurrentPage+1)" />
            <input type="hidden" name="exportsPageNumber" value="@(Model.ExportsPages.CurrentPage)" />
            <button type="submit">Next Page</button>
        </form>
        }
        @if(Model.ImportsPages.CurrentPage > 1) {
            <form asp-action="ViewCity" asp-controller="City" method="post">
                <input type="hidden" name="CityId" asp-for="@Model.City.CityId" value="@Model.City.CityId" />
                <input type="hidden" name="importsPageNumber" value="@(Model.ImportsPages.CurrentPage-1)" />
                <input type="hidden" name="exportsPageNumber" value="@(Model.ExportsPages.CurrentPage)" />
                <button type="submit">Previous Page</button>
            </form>
        }
    </div>
    <div id="Exports">
        <h2>Exports:</h2>
        @for(int i = (Model.ExportsPages.CurrentPage - 1) * Model.ExportsPages.ItemsPerPage;
            i < (Model.ExportsPages.CurrentPage - 1) * Model.ExportsPages.ItemsPerPage + Model.ExportsPages.ItemsPerPage;
            i++) {
                if(i < Model.ExportsPages.TotalItems) {
                    <h5>@Model.City.ProductsExported2[i].ProductName</h5>
            }
        }
        <h4>Page @Model.ExportsPages.CurrentPage of @Model.ExportsPages.TotalPages</h4>
        @if(Model.ExportsPages.CurrentPage < Model.ExportsPages.TotalPages) {
        <form asp-action="ViewCity" asp-controller="City" method="post">
            <input type="hidden" name="CityId" value="@Model.City.CityId" />
            <input type="hidden" name="exportsPageNumber" value="@(Model.ExportsPages.CurrentPage+1)" />
            <input type="hidden" name="importsPageNumber" value="@(Model.ImportsPages.CurrentPage)" />
            <button type="submit">Next Page</button>
        </form>
        }
        @if(Model.ExportsPages.CurrentPage > 1) {
        <form asp-action="ViewCity" asp-controller="City" method="post">
            <input type="hidden" name="CityId" asp-for="@Model.City.CityId" value="@Model.City.CityId" />
            <input type="hidden" name="exportsPageNumber" value="@(Model.ExportsPages.CurrentPage-1)" />
            <input type="hidden" name="importsPageNumber" value="@(Model.ImportsPages.CurrentPage)" />
            <button type="submit">Previous Page</button>
        </form>
        }
    </div>    
</body>
</html>
