﻿@model IEnumerable<string>

@* Below block is just making the "Home" button on the side. *@
<a class="btn btn-block btn-default"
   asp-controller="Bird" asp-action="List"
   asp-route-category="">
    Home
</a>


@* Below block is creating the buttons for the different categories. *@
@foreach (string cat in Model)
{
    <a class="btn btn-block
       @(cat == ViewBag.SelectedCategory ? "btn-primary" : "btn-default")"
       asp-controller="Bird" asp-action="List"
       asp-route-category="@cat" asp-route-pageNumber="1">
        @cat
    </a>

}

