﻿@model Negotiation
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Negotiation Table</title>
</head>
<body>    
    @try {
        @await Component.InvokeAsync("ProductComponent", new { negotiation = @Model })
    }catch(Exception e) {
        @await Component.InvokeAsync("ProductComponent")
    }

    @*@try {
            Html.RenderPartial("_CityProductEditor", @Model.CityProduct);
        } catch(Exception e) {
            <p>We don't seem to have a CityProduct selected yet, but that's okay! :-)</p>
    }*@
</body>
</html>