﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript">
        var changeMe = function (i, j) {
            //alert(i); alert(j);
            if (j > 1) {//because I don't want the button I click on to go from blue to grey if it's the only one.
                for (var h = 0; h < j; h++) {
                    document.getElementById("Title" + h).setAttribute("class", "btn btn-sm");
                    document.getElementById("Table" + h).setAttribute("class", "hidden");
                }
                document.getElementById("Title" + i).setAttribute("class", "btn btn-primary");
                document.getElementById("Table" + i).setAttribute("class", "table table-striped table-bordered table-condensed");
            }
        }
    </script>
    <title>@ViewBag.Title</title>
</head>
<body class="panel panel-default">
    <div class="panel-heading">
        @{try {
            int j = ViewBag.Titles.Length;
            for(int i = 0; i < j; i++) {
                String k = "sm";
                if(i == 0) { k = "primary"; }
                <button id="Title@(i)" class="btn btn-@(k)" style="display:inline;
                            padding-left:1.5%; padding-right:1.5%" onclick="changeMe(@(i),@(j));">
                    @ViewBag.Titles[i]
                </button>
            }
          } catch(Exception) { }
        }
        <a class="btn btn-sm btn-primary pull-right" asp-action="Logout" asp-controller="Account">Logout</a>
    </div>    
    <h4>@TempData["message"]</h4>
    <div class="panel-body">
        @if(TempData["mesage"] != null) {<div class="alert alert-success">@TempData</div>}
        @RenderBody()
    </div>

</body>
</html>
