﻿
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <title>Bird Store</title>
    </head>
    <body>
        <div class="navbar navbar-inverse" role="navigation">
            <a class="navbar-brand" href="#">BIRD STORE</a>
            <div style="float:right;">
                @await Component.InvokeAsync("CartSummary");
                <a class="btn btn-sm btn-default navbar-btn"
                   asp-controller="Admin"
                   asp-action="Index"
                   asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()"
                   style="background-color:red; display:inline-block;">
                   <i class="fa fa-user-secret" style="font-size:48px;"></i>
                </a>
            </div>
        </div>
        <div class="">
            <div id="categories" class="col-xs-3">
                @await Component.InvokeAsync("NavigationMenu")
            </div>
        </div>
        <div class="col-xs-8"> 
            @RenderBody()
        </div>
    </body>
</html>
