﻿
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <title>Bird Store</title>
    </head>
    <body>
        <div class="navbar navbar-inverse" role="navigation">
            <a class="navbar-brand" href="#">BIRD STORE</a>
            <div class="pull-right">
                @await Component.InvokeAsync("CartSummary");
            </div>
        </div>
        <div class="">
            <div id="categories" class="col-xs-3">
                @await Component.InvokeAsync("NavigationMenu")
            </div>
        </div>
        <div class="col-xs-8"> 
            @RenderBody()
        </div>
    </body>
</html>
