﻿@model Bird
<script type="text/javascript">
    var acme = acme || [];
    var id = @Html.Raw(Json.Serialize(Model.BirdId));
    var images =  @Html.Raw(Json.Serialize(Model.Images2));
    acme[id] = {};
    acme[id].x = 0;
    acme[id].images = images;
    var prevImage = function (z) {
        if (acme[z].x > 0 ) {
            var imageBlock = document.getElementById("ImageBlock" + z);
            acme[z].x--;
            imageBlock.setAttribute("src", acme[z].images[acme[z].x]);
        }
    }
    var nextImage = function (z) {
        if (acme[z].x + 2 <= acme[z].images.length) {
            var imageBlock = document.getElementById("ImageBlock" + z);
            acme[z].x++;
            imageBlock.setAttribute("src", acme[z].images[acme[z].x]);
        }
    }
</script>
<div class="well" style="position:relative; height:200px; overflow:hidden;">
    <div style="position:absolute; left:10px; top:-10px; width:50%;">
        <form asp-action="AddToCart" asp-controller="Cart" method="post">
            <h2><strong>@Model.Name</strong></h2>            
            <h3>@Model.Description</h3>
            @foreach(Ability a in Model.Abilities2) {
                <h4>@a.Name</h4>
            }
            <input type="hidden" asp-for="BirdId" />
            <input type="hidden" name="returnURL" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <button type="submit" style="position:absolute; right:-95%; top:74px; z-index:100;" class="btn btn-success btn-small">
                Add To Cart
            </button>
        </form>
    </div>
    <div style="position:absolute; right:0px; width:50%;">
        <h3 style="position:absolute; top:-10px; right:10px;">$@Model.Price</></h3>        
        <img id="ImageBlock@(Model.BirdId)" src="@Model.Images2[0]" style="width:50%; top:-10px;" class="pull-left" />
        <button style="position:absolute; top:-10px; right:60px; top:90px;" class="btn btn-success btn-small"
         onclick="prevImage(@Model.BirdId);">
            <i class="fa fa-arrow-left"></i>
        </button>
        <button style="position:absolute; top:-10px; right:10px; top:90px;" class="btn btn-success btn-small"
         onclick="nextImage(@Model.BirdId);">
            <i class="fa fa-arrow-right"></i>
        </button>
    </div>    
</div>
