﻿@model IndexViewModel
@{
    //ViewData["Title"] = "_BasicLayout";
    IgnoreBody();
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>World Economy</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <script>
        var cities = @Html.Raw(Json.Serialize(@Model.SimpleCities));
    </script>
    <script src="~/js/IndexLogic.js"></script>
</head>
<body>
    <button type="button" id="cityHighlighter" onclick="toggleCityHighlights()">Highlight City Areas</button>
    <img id="map" src="~/Images/Apocalypse.png" />

    @{
        Html.RenderPartial("_WorldEconomyPanel", @Model);
        Html.RenderPartial("_CityPanel");
    }
</body>
</html>