﻿@model Cart
    @if (Model.Lines.Count() > 0) {
        <small class="navbar-text">
            <b>Your cart:</b>
            @Model.Lines.Sum(c => c.Quantity) item(s)
            @Model.ComputeTotalValue().ToString("c");
        </small>
    }
    <a class="btn btn-sm btn-default navbar-btn"
       asp-controller="Cart"
       asp-action="Index"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()"
       style="background-color:red; display:inline-block;">
        <i class="fa fa-shopping-cart" style="font-size:48px;"></i>
    </a>
