﻿@model Dictionary<int, string>[]
@{

}
<form asp-action="../ProductTopography/Index" method="get">
    <p>Filter Commodity-Values By City:</p>
    <select name="CityId">
        <option value="0">All</option>
        @foreach(KeyValuePair<int, string> c in Model[0]) {
            <option value="@c.Key">@c.Value</option>
        }
    </select>
    <p>Filter Commodity-Values By Product:</p>
    <select name="ProductId">
        <option value="0">All</option>
        @foreach(KeyValuePair<int, string> c in Model[1]) {
            <option value="@c.Key">@c.Value</option>
        }
    </select>
    <p>Filter Commodity-Values By Category:</p>
    <select>
        <option value="0">All</option>
        <option value="1">Product</option>
        <option value="2">Service</option>
        <option value="3">Resource</option>
        <option value="4">Capital</option>
    </select>
    <button type="submit">
        SEARCH
    </button>
</form>

