﻿@model Dictionary<int, string>[]
<h3>
   You have arrived at The Negotiation Table.  The purpose of this page is to broker trade negotiations between Cities.
   You should pick two cities, and a product... Once City to Import the product, and one City to be exporting the product
   to the other City.  Submitting the form will create a Permenant Trade Agreement in the Database.  This concept was
   designed to mimic/replace the Order/Cart concept from our Sports Store tutorial. (Order : Cart :: TradeAgreement : Negotiation)
   <br />
   Start by picking a City from this list to be the Importer.
</h3>
<form asp-action="SetImporter" method="post">
    <p>Choose a City:</p>
    <select name="CityId">
        @foreach(KeyValuePair<int, string> c in Model[0]) {
            <option name="CityId" value="@c.Key">@c.Value</option>
        }
    </select>
    
    <button type="submit">
        Submit My Selection.
    </button>
</form>


