﻿@model Dictionary<int, string>[]
<h3>Great job! Now that you've picked the Importing Nation, it's time to pick the EXPORTING nation!</h3>
<form asp-action="SetExporter" method="post">
    <p>Choose a City:</p>
    <select name="CityId">
        @foreach(KeyValuePair<int, string> c in Model[0]) {
            <option name="CityId" value="@c.Key">@c.Value</option>
        }
    </select>
    <button type="submit">
        Submit My Selection.
    </button>
</form>
