﻿@model Dictionary<int, string>[]
<h3>Great job! Now that you've picked the Importing AND Exporting nations, it's time to pick the Product that they'll be trading!</h3>
<form asp-action="SetProduct" method="post">
    <p>Choose a City:</p>
    <select name="ProductId">
        @foreach(KeyValuePair<int, string> c in Model[1]) {
            <option name="ProductId" value="@c.Key">@c.Value</option>
        }
    </select>
    <button type="submit">
        Submit My Selection.
    </button>
</form>