﻿@model CityProduct
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="UpdateCityProduct" method="post">
    <div class="form-group">
        <label>Product Name:</label>
        <input asp-for="Product.productName" class="form-control" disabled="disabled" />
    </div>
    <div class="hidden">
        <input asp-for="ProductId" class="hidden" />
    </div>
    <div class="hidden">
        <input asp-for="CityId" class="hidden" />
    </div>
    <div class="form-group">
        <label>Current Surplus in this City:</label>
        <input asp-for="CurrentSurplus" class="form-control" />
    </div>
    <div class="form-group">
        <label>Maximum Annual Production Rate:</label>
        <input asp-for="MaximumPotentialUnitProduction" class="form-control" />
    </div>
    <div class="form-group">
        <label>Scheduled Annual Production:</label>
        <input asp-for="ScheduledAnnualUnitProduction" class="form-control" />
    </div>
    <div class="form-group">
        <label>Import/Export/Production Code:</label>
        <input asp-for="Type" class="form-control" />
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="UPDATE THIS CITY-PRODUCT"/>
    </div>
</form>