﻿@model IEnumerable<string>//string[] using IEnumerable allows your code to be more flexible. You can use arrays, hashmaps, or anything that inherits from IEnumerable.

@{ //apparently this is a class that is compiled behind the scenes. We need to sest layout to null to keep it plain.
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Language Features</title>
</head>
<body>
    <h2>HELLO</h2>
    <ul>
        @foreach(string s in Model){
            <li>@s</li>
        }
    </ul>
</body>
</html>