﻿@model CDTracker.Models.CD
@{

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title class="text-center" >Add CD</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h1 class="text-center">Add A CD</h1>
    <form asp-action="AddCD" method="post" class="panel-body p-a-1">
        <div asp-validation-summary="All" style="color:red; text-decoration:underline;"></div>
        <p>
        <label>Bank</label>
        <select class="form-control" asp-for="bank">
            <option value="">Choose One...</option>
            <option value="First National">First National</option>
            <option value="Citi">Citi</option>
            <option value="Wells Fargo">Wells Fargo</option>
            <option value="BMO Harris">BMO Harris</option>
        </select>
        </p><p>
        <label>Term (Months)</label>
        <select  class="form-control" asp-for="term">
            <option disabled selected>Choose One...</option>
            <option value="6">6</option>
            <option value="12">12</option>
            <option value="24">24</option>
            <option value="48">48</option>
            <option value="60">60</option>
        </select>
        </p><p>
        <label>Rate(%)</label>
        <input  class="form-control" asp-for="rate"/>
        </p><p>
        <label>Deposit Amount</label>
        <input  class="form-control" asp-for="depositAmount"/>
        </p><p>
        <label>Purchase Date</label>
        <input  class="form-control" asp-for="purchaseDate"/>
        </p>
        <button type="submit">Done</button>
    </form>
</body>
</html>
