﻿@model IEnumerable<CD>
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>CD Portfolio</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
    <h1 class="text-center">
        @ViewBag.pageTitle
        <!--pageTitle will either be "My CD Portfolio" or "Add a CD"-->
    </h1>
    
    <div id="CDList" class="text-center">
        <a asp-action="AddCD">Add a CD</a>
        @if (Model != null && Model.Count() > 0){
            <table class="table table-sm table-striped table-bordered">
              <thead>
                <tr>
                    <th>Bank</th>
                    <th>Purchase Date</th>
                    <th>Term(Months)</th>
                    <th>Rate(%)</th>
                    <th>Amount of Initial Deposit</th>
                    <th>Date of Maturity</th>
                    <th>Value at Maturity</th>
                </tr>
              </thead>
                @foreach(CD c in Model){
                  <tr>
                    <td>@c.bank</td>
                    <td>@c.purchaseDate</td>
                    <td>@c.term</td>
                    <td>@c.rate</td>
                    <td>$@c.depositAmount</td>
                    <td>@c.calculateMaturityDate(c.term, c.purchaseDate)</td>
                    <td>@($"{c.calculateMaturityValue(c.term, c.rate, c.depositAmount):C2}")</td>
                  </tr>
                }
            </table>
        }else{
            <article>No CDs currently in the portfolio</article>
        }
    </div>

</body>
</html>