﻿@{
    ViewData["Title"] = "_BasicLayout";
    //IgnoreBody();
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>World Tour</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <script src="~/js/IndexLogic.js"></script>
    <script>
            var cities = @(Html.Raw(Json.Serialize(@Model)));
    </script>

</head>
<body>
    <div>@RenderBody()</div>
    <button type="button" id="cityHighlighter" onclick="toggleCityHighlights()">Highlight City Areas</button>
    <img id="map" src="~/Images/Apocalypse.png" />
    
    @{
        Html.RenderPartial("_WorldEconomyPanel");
        Html.RenderPartial("_CityPanel");
    }

</body>
</html>

