﻿<div id="worldEconomyPanel">
    <p id="wEPTitle">World Market Value: $@ViewBag.WorldMarketValue B</p>
    @foreach (City c in Model)
    {
        <div class="section @if(c.Coordinates[3]<.64){@("Southern")} }">
            <p>City: @c.Name</p><p>GDP: @c.GDP</p>
        </div>
    }
</div>

<button type="button" id="funnyButton" style="top:30px; left:5px; position:fixed;" onclick="funnyButton();">
    View
    <select type="select" id="funnySelector">
        <option type="option" value="All">All Cities</option>
        <option type="option" value="Northern">Cities North of the Equator</option>
        <option type="option" value="Southern">Cities South of the Equator</option>
    </select>
</button>

<script>
    function funnyButton() {
        var fs = document.getElementById("funnySelector");
        var sec = document.querySelectorAll(".section");
        var listHeader = document.getElementById("wEPTitle");
        //alert(document.getElementById("funnySelector").value);
        if (fs.value == "All") {
            listHeader.innerHTML = "World Market Value: $@ViewBag.WorldMarketValue B";
            sec.forEach(function (s) {
                s.style.display = "block";
            });
        } else if (fs.value == "Northern") {
            listHeader.innerHTML = "Northern Market Value: $@ViewBag.NorthernGDP B";
            sec.forEach(function (s) {
                if (s.classList.contains("Southern"))
                    s.style.display = "none";
                else s.style.display = "block";
            });
        } else {
            listHeader.innerHTML = "Southern Market Value: $@ViewBag.SouthernGDP B";
            sec.forEach(function (s) {
                if (s.classList.contains("Southern"))
                    s.style.display = "block";
                else s.style.display = "none";
            });
        }
    }
    document.getElementById("funnySelector").onmouseenter = function () {
        document.getElementById("funnyButton").onclick = null;
    }
    document.getElementById("funnySelector").onmouseleave = function () {
        document.getElementById("funnyButton").onclick = funnyButton;
    }
</script>