﻿body {

}
#CityDetailsPanel{
    
}
.Imports, .Exports{
    display: inline-block;
    left: 20%;
}

h2, h3, h4, h5, form, p {
    /*padding-left: 20%;*/
}
div {
    padding: 5%;
    display: inline-block;
    vertical-align: top;
}
div form{
    display: inline;
    vertical-align: bottom;    
}
