﻿@model CityViewModel
@{
    Dictionary<string, string> upExports = new Dictionary<string, string> {
        { "CityId" , Model.City.CityId.ToString() },
        { "importsPageNumber" , (Model.ImportsPages.CurrentPage).ToString() },
        { "exportsPageNumber" , (Model.ExportsPages.CurrentPage + 1).ToString() },
        { "producesPageNumber" , (Model.ProducesPages.CurrentPage).ToString() }
    };
    Dictionary<string, string> downExports = new Dictionary<string, string> {
        { "CityId" , Model.City.CityId.ToString() },
        { "importsPageNumber" , (Model.ImportsPages.CurrentPage).ToString() },
        { "exportsPageNumber" , (Model.ExportsPages.CurrentPage - 1).ToString() },
        { "producesPageNumber" , (Model.ProducesPages.CurrentPage).ToString() }
    };
    Dictionary<string, string> upImports = new Dictionary<string, string> {
        { "CityId" , Model.City.CityId.ToString() },
        { "importsPageNumber" , (Model.ImportsPages.CurrentPage + 1).ToString() },
        { "exportsPageNumber" , (Model.ExportsPages.CurrentPage).ToString() },
        { "producesPageNumber" , (Model.ProducesPages.CurrentPage).ToString() }
    };
    Dictionary<string, string> downImports = new Dictionary<string, string> {
        { "CityId" , Model.City.CityId.ToString() },
        { "importsPageNumber" , (Model.ImportsPages.CurrentPage - 1).ToString() },
        { "exportsPageNumber" , (Model.ExportsPages.CurrentPage).ToString() },
        { "producesPageNumber" , (Model.ProducesPages.CurrentPage).ToString() }
    };
    Dictionary<string, string> upProduces = new Dictionary<string, string> {
        { "CityId" , Model.City.CityId.ToString() },
        { "producesPageNumber" , (Model.ProducesPages.CurrentPage + 1).ToString() },
        { "importsPageNumber" , (Model.ImportsPages.CurrentPage).ToString() },
        { "exportsPageNumber" , (Model.ExportsPages.CurrentPage).ToString() }
    };
    Dictionary<string, string> downProduces = new Dictionary<string, string> {
        { "CityId" , Model.City.CityId.ToString() },
        { "producesPageNumber" , (Model.ProducesPages.CurrentPage - 1).ToString() },
        { "importsPageNumber" , (Model.ImportsPages.CurrentPage).ToString() },
        { "exportsPageNumber" , (Model.ExportsPages.CurrentPage).ToString() }
    };
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.City.Name Details Page</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/CityDetails.css" rel="stylesheet" />
</head>
<body>
    <div id="CityDetailsPanel" class="table table-bordered table-striped">
        <h2>CityDetails</h2>
        <h4>City Name: @Model.City.Name</h4>
        <h4>Continent: @Model.City.ContinentName</h4>
        <h4>Population: @Model.City.Population</h4>
        <h4>GDP: $@Model.City.GDP Billion USD </h4>
    </div>
    @*@await Component.InvokeAsync("ProductComponent", new { view = 1 })*@
    @*@await Component.InvokeAsync("ProductComponent", new { view = 0 })*@
    <div id="Imports">
        <h2>Imports:</h2>
        @for(int i = (Model.ImportsPages.CurrentPage - 1) * Model.ImportsPages.ItemsPerPage;
       i < (Model.ImportsPages.CurrentPage - 1) * Model.ImportsPages.ItemsPerPage + Model.ImportsPages.ItemsPerPage;
       i++) {
            if(i < Model.ImportsPages.TotalItems) {
                <h5 class="text-justify">@Model.City.ProductsImported2[i].ProductName</h5>
            }
        }
        <h4>Page @Model.ImportsPages.CurrentPage of @Model.ImportsPages.TotalPages</h4>
        @if(Model.ImportsPages.CurrentPage < Model.ImportsPages.TotalPages) {
            <a asp-route="viewCity" asp-all-route-data="upImports">
                Next Page
            </a>
        }
        @if(Model.ImportsPages.CurrentPage > 1) {
            <a asp-route="viewCity" asp-all-route-data="downImports">
                Previous Page
            </a>
        }
    </div>
    <div id="Exports">
        <h2>Exports:</h2>
        @for(int i = (Model.ExportsPages.CurrentPage - 1) * Model.ExportsPages.ItemsPerPage;
               i < (Model.ExportsPages.CurrentPage - 1) * Model.ExportsPages.ItemsPerPage + Model.ExportsPages.ItemsPerPage;
               i++) {
            if(i < Model.ExportsPages.TotalItems) {
                <h5>@Model.City.ProductsExported2[i].ProductName</h5>
            }
        }
        <h4>Page @Model.ExportsPages.CurrentPage of @Model.ExportsPages.TotalPages</h4>
        @if(Model.ExportsPages.CurrentPage < Model.ExportsPages.TotalPages) {
            <a asp-route="viewCity" asp-all-route-data="upExports">
                Next Page
            </a>
        }
        @if(Model.ExportsPages.CurrentPage > 1) {
            <a asp-route="viewCity" asp-all-route-data="downExports">
                Previous Page
            </a>
        }
     </div>
     <div id="Produces">
        <h2>Produces:</h2>
        @for(int i = (Model.ProducesPages.CurrentPage - 1) * Model.ProducesPages.ItemsPerPage;
               i < (Model.ProducesPages.CurrentPage - 1) * Model.ProducesPages.ItemsPerPage + Model.ProducesPages.ItemsPerPage;
               i++) {
            if(i < Model.ProducesPages.TotalItems) {
                <h5>@Model.City.ProductsProduced2[i].ProductName</h5>
                <h6>at a cost of $@Model.City.ProductsProduced2[i].PerUnitProductionPrice per unit.</h6>
            }
        }
        <h4>Page @Model.ProducesPages.CurrentPage of @Model.ProducesPages.TotalPages</h4>
        @if(Model.ProducesPages.CurrentPage < Model.ProducesPages.TotalPages) {
            <a asp-route="viewCity" asp-all-route-data="upProduces">
                Next Page
            </a>
        }
        @if(Model.ProducesPages.CurrentPage > 1) {
            <a asp-route="viewCity" asp-all-route-data="downProduces">
                Previous Page
            </a>
        }
    </div>
</body>
</html>
