﻿@model Image
@{
    if(Model.ImageId != 0) {
        ViewBag.Titles = new String[] { "Edit Image" };
    }else{
        ViewBag.Titles = new String[] { "Add Image"}; 
    }
    Layout = "_AdminLayout";
    <form action="EditImage" method="post">
        <input type="hidden" asp-for="ImageId" />
        <div class="form-group">
            <label asp-for="Name"></label>
            <div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Picture" > </label>
            
            <input type="file" name="file" class="form-control">
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-default">Cancel</a>
        </div>

    </form>
}