﻿@model Bird
@{
    if(Model.BirdId != 0) {
        ViewBag.Titles = new String[] { "Edit Bird" };
    }else{
        ViewBag.Titles = new String[] { "Add Bird"}; 
    }
    Layout = "_AdminLayout";
<form action="EditBird" method="post">
    <input type="hidden" name="BirdId" value="@Model.BirdId" />
    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <div>
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <input name="Name" value="@Model.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Description"></label>
        <div>
            <span asp-validation-for="@Model.Description" class="text-danger"></span>
        </div>
        <input name="Description" value="@Model.Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Category"></label>
        <div>
            <span asp-validation-for="@Model.Category" class="text-danger"></span>
        </div>
        <input name="Category" value="@Model.Category" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Price"></label>
        <div>
            <span asp-validation-for="@Model.Price" class="text-danger"></span>
        </div>
        <input name="Price" value="@Model.Price" class="form-control" />
    </div>
    @await Component.InvokeAsync("AllAbilitiesDropDownComponent", Model.Abilities2)
    
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-default">Cancel</a>
    </div>
</form>
}
