﻿@model Ability
@{
    if(Model.AbilityId != 0) {
        ViewBag.Titles = new String[] { "Edit Ability" };
    }else{
        ViewBag.Titles = new String[] { "Add Ability"}; 
    }
    Layout = "_AdminLayout";
    <form action="EditAbility" method="post">
        <input type="hidden" asp-for="AbilityId" />
        <div class="form-group">
            <label asp-for="Name"></label>
            <div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-default">Cancel</a>
        </div>
    </form>
}