﻿@model AdminViewModel
@{
    ViewBag.Titles = new String[] { "Birds", "Abilities", "Images" };
    Layout = "_AdminLayout";
}
<table id="Table0" class="table table-striped table-bordered table-condensed">
    <tr>
        <td class="text-right">ID</td>
        <td>Name</td>
        <td class="text-right">Price</td>
        <td class="text-center">Actions
            <a id="addBtn0" asp-action="EditBird" class="pull-right btn btn-primary">Add a Bird</a>           
        </td>
    </tr>
    @foreach(Bird b in Model.Birds) {
    <tr>
        <td class="text-right">@b.BirdId</td>
        <td>@b.Name</td>
        <td class="text-right">@b.Price</td>
        <td class="text-center">
            <form asp-action="DeleteBird" method="post">
                <a asp-action="EditBird" class="btn btn-sm btn-warning" asp-route-BirdId="@b.BirdId">Edit</a>
                <input type="hidden" name="BirdId" value="@b.BirdId" />
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
        </td>
    </tr>
    }
</table>
<table id="Table1" class="hidden">
    <tr>
        <td class="text-right">ID</td>
        <td>Name</td>
        <td class="text-center">Actions
            <a id="addBtn1" asp-action="EditAbility" class="pull-right btn btn-primary">Add an Ability</a>
        </td>
    </tr>
    @foreach(Ability a in Model.Abilities) {
    <tr>
        <td class="text-right">@a.AbilityId</td>
        <td>@a.Name</td>
        <td class="text-center">
            <form asp-action="DeleteAbility" method="post">
                <a asp-action="EditAbility" class="btn btn-sm btn-warning" asp-route-AbilityId="@a.AbilityId">Edit</a>
                <input type="hidden" name="AbilityId" value="@a.AbilityId" />
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
        </td>
    </tr>
    }
</table>
<table id="Table2" class="hidden">
    <tr>
        <td class="text-right">ID</td>
        <td>Name</td>
        <td class="text-center">Actions
            <a id="addBtn2" asp-action="EditImage" class="pull-right btn btn-primary">Add an Image</a>
        </td>
    </tr>
    @foreach(Image i in Model.Images) {
    <tr>
        <td class="text-right">@i.ImageId</td>
        <td>@i.Name</td>
        <td class="text-center">
            <form asp-action="DeleteImage" method="post">
                <a asp-action="EditImage" class="btn btn-sm btn-warning" asp-route-ImageId="@i.ImageId">Edit</a>
                <input type="hidden" name="ImageId" value="@i.ImageId" />
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
        </td>
    </tr>
    }
</table>